# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Byte-compiled / cache
*.egg
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/
*.wheel

# Logs
*.log

# SQLite (если случайно создашь локально)
*.sqlite3
*.db

# --------------------
# Alembic
# --------------------
alembic/versions/__pycache__/

# --------------------
# IDE / Editor
# --------------------
.idea/
.vscode/
*.swp
*~

# --------------------
# OS-specific
# --------------------
.DS_Store
Thumbs.db

